Thanks for using the Contact Me on my Website! <br>
I appreciate you checking it out, and here is a copy of what you sent me! <br>

<div class='panel panel-primary'> 
  <div class='panel-heading'>
    Copy of Message
  </div>
  <div class'panel-body'>
    Hey, Nick! <br>
      <%= @sender %> sent you a message! <br>

  Here is their message: <br>
  <%= @message %> 

  If you'd like, you can contact them at <%= @sender_email %> 
</div>
</div> 
<strong> Note: </strong> Please do not reply to this email. It is not a monitored email address!

Thanks again!
-Nick Miller 
