<h2> HI There! Welcome to my website!</h2>
<div class='row'>
    <div class='col-md-4'>
        Example of a column
    </div>
    <div class='col-md-4'>
        It is size 4
    </div>
    <div class='col-md-4'>
        Mainly testing if bootstrap works
    </div>
</div>