<footer class="footer-distributed" style=" position:absolute; bottom:0;  width:100%; height:60px;">
    <div class="footer-left pull-left" >
        <p class="footer-links">
            View More of My Stuff:<br>
        <a href="https://www.linkedin.com/in/nicholas-miller-b2424b92">LinkedIn</a>
        ·
        <a href="https://github.com/nickmiller708">Github</a>
        </p>
    </div>
</footer>