
<nav class="navbar navbar-default  navbar-fixed-bottom navbar-inverse footer">
  <div class="container">

    <ul class="nav navbar-nav">
      <li>
       <a>  Find Me On: </a>
      </li> 
      <li >
        <a href="https://www.linkedin.com/in/nicholas-miller-b2424b92"> LinkedIn</a>
      </li>
      <li >
        <a href="https://www.github.com/nickmiller708"> Github</a>
      </li>
      <li >
        <a href="<%= resume_path%>"> Who I Am?</a>
      </li>
      <li>
        <a href="<%= contact_me_path%>"> <span class="glyphicon glyphicon-question"></span> Contact Me </a>
      </li>

    </ul>

  </div>
</nav>
