<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#"> <span class="glyphicon glyphicon-user"></span> Who I Am?</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> My Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">          
            <li><a href="#">Nothing Right Now :(</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> Miller Time</li>
    </ul>
  </div>
</nav>
