<div class="container">
  <div class="row">
      <div class='col-md-8'>
          <h2> Most Recent Posts (Once Available) </h2>
          <div class='panel panel-primary'>
              <div class='panel-heading'>
                Video Games
              </div>
              <div class='panel-body'>
                Here's where the most recent would be
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-question-sign"></span> Who am I? </h3>
          <ul>
              <li>  
                 Graduate of Centre College
              </li>
              <li>
                 Lover of movies, video games, and music
              </li>
              <li>
                  Just a simple programmer from Chattanooga, TN
              </li>
          </ul>
      <h3><span class="glyphicon glyphicon-info-sign"></span> What to do! </h3>
      <ul>
          <li>
            View things that interest me like movies, video games, etc.
          </li>
          <li>
            View other side projects I want to make
          </li>
          <li>
            View my resume and other experiences
          </li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
