<div class="container">
  <div class="row">
     <div class='col-xs-6'>
			<div class='panel panel-default'>
				 <div class='panel-heading'>
				 	   Contact Information	
				  </div> 
							<div class'panel-body'>
								<table class='table'>
									 <tbody>
									 	 <tr>
										 	  <td>
											  	 Nicholas Miller
												  	  </td>
													  	</tr>
															<tr> 
																<td>
																	  <strong> Email: </strong> nickmiller708@gmail.com
																	 	</td>
																			</tr>
																				<tr>
																					<td>
																							<strong> Phone Number: </strong> 423-260-0040
																								</td>
																									</tr>
																										<tr>
																											<td>
																												 <strong> LinkedIn and Github links in the bottom </strong>
																												</td>
</tr> 
</tbody>
</table>
	</div> 
	</div> 	
	<div class='panel panel-default'>
	 <div class='panel-heading'>
	   Academic Accomplishments
	</div> 
	<div class'panel-body'>
	<table class='table'>
	 <tbody>
	 <tr>
	  <td>
	Centre College | Class of 2017
 	  </td>
	</tr>
	<tr> 
	<td>
	 Recieved Bachelor of Science in Computer Science and Minor in Mathematics
	</td>
	</tr>
	<tr>
	<td>
	 Overall GPA: 3.21
	</td>
	</tr>
	<tr>
	<td>
	 Major GPA: 3.4
</td>
</tr>
<tr>
<td>
  Served as Chairman of Service and Philathropy and Chairman of House Management for Beta Theta Pi's Epsilon Chapter
<ul>
  <li>
    Organized events to raise over  $3000 for Wilderness Trace Child Development Center, a center for educating and helping children with mental disabilities. 
  </li>
  <li>
  Doubled fraternity service hours from 250 hours per year to over 500 hours by working with local businesses and parks for service events
</li>
</ul>
</tr>
</tbody>
</table>

	</div> 
	</div> 	
</div>
<div class='col-xs-6'>	
	<div class='panel panel-default'>
	 <div class='panel-heading'>
	   Professional Accomplishments
	</div> 
	<div class'panel-body'>
	<table class='table'>
	 <tbody>
	 <tr>
	  <td>
      <strong> Amazon ICQA Program Developer </strong> (May 2017 - Present) 
 	  </td>
	</tr>
	<tr> 
	<td>
	  <strong> JavaScript Application Programmer at Centre College</strong> (December 2016 - May 2017)
  </td>
	</tr>
	<tr>
	<td>
    <strong> Web Developer at Centre College </strong> (August 2016 - December 2016) 	
</td>
	</tr>
	<tr>
	<td>
	  <strong> Web Developer at AquaShield Inc. </strong> (May 2016 - August 2016)
</td>
</tr> 
</tbody>
</table>

	</div> 
</div> 
	<div class='panel panel-default'>
	 <div class='panel-heading'>
	   Relevant Skill Set
	</div> 
	<div class'panel-body'>
	<table class='table'>
	 <tbody>
	 <tr>
	  <td>
      <strong> Programming Experience: </strong> Object Oriented Programming in Java, Python, C++, and Ruby
 	  </td>
	</tr>
	<tr> 
	<td>
	  <strong> Web Development Experience: </strong> AngularJS, JQuery, Node, Ruby on Rails
  </td>
	</tr>
	<tr>
	<td>
    <strong> OS Experience: </strong> Primarily developed on Linux OS, but have used Windows and Mac
</td>
	</tr>
	<tr>
	<td>
	  <strong> Technologies Used: </strong> Heroku, Git, MySql, AWS
</td>
</tr> 
</tbody>
</table>

	</div> 
	</div> 		

  </div> <!-- row -->
</div> 
</div>

