<div class="container">
  <div class="row">
      <div class='col-md-8'>
          <h2> Welcome! </h2>
          <div class='panel panel-primary'>
              <div class='panel-heading'>
                Welcome Back!
              </div>
              <div class='panel-body'>
                Good to see you again, <%= @user.name %> 
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <h3><span class="glyphicon glyphicon-question-sign"></span> Account Actions </h3>
          <ul>
              <li>  
                 View Account Details
              </li>
              <li>
                 Delete Account
              </li>
              <li>
              </li>
          </ul>
    </div>
  </div> <!-- row -->
</div>
