<div class='container'>

  <% if flash[:notice].present? %> 
      <div style="color: green;"> 
        Admin Message: 
        <%= flash[:notice] %> 
      </div> 
  <% end %> 

     <% if  flash[:danger].present? %> 
      <div style="color: red;"> 
        Error Processing Login: 
        <%= flash[:danger] %> 
      </div> 
     <% end %> 

<h1>Create User Account</h1>
<%= render 'form' %>
<% unless session[:user].present? %> 
<br>
Go Back to Login Page: <%= link_to 'Login Page', admin_login_path, class: 'btn btn-primary' %>
<% end %> 
</div> 

